<section class="graph">
    <card class="graph__card">
      <h2 class="graph__title">Total Claims</h2>
      <canvas id="myChart" class="graph__chart" aria-label="Doghnut chart that shows the total Claims details" role="img"></canvas>
    </card>
    <card class="graph__card">
      <h2 class="graph__title">Share Division</h2>
      <canvas id="myChartpie" class="graph__chart" aria-label="Pie chart that shows the Share Division details" role="img"></canvas>
    </card>
    <card class="graph__card">
      <h2 class="graph__title">Incoming Claims</h2>
      <canvas id="myChartbar" class="graph__chart graph__chart--bar" aria-label="Bar chart that shows the Incoming Claims details in a week" role="img"></canvas>
    </card>
  </section>
  